*.vtu
*.gch
*.vts
*.vtk
*.o
*.bin
build/*
build
snapshots
snapshots/*
.idea/*
*.log
CMakeFiles
CMakeCache.txt
Makefile
gcm_exe
gcm_tests
gcm_mpi_tests
gcm_seismo
gcm_inverse_problem
nbproject
nbproject/*
cmake_install.cmake
compile_commands.json
libgcm.so
CMakeLists.txt.user
*.autosave
tools/doxygen/doc/*
*~
meshes/coarse/*
meshes/refined/*
